<!DOCTYPE html>
<html ng-app="rootApp">
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/base.css">
    <script src="./static/js/angular.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="./static/js/md5.js"></script>
    <title>注册</title>
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="nav-inline">
        <div class="logo">
            <a href="/">
                <img src="./static/images/log.png">
            </a>
        </div>

        <ul class="nav-title">
            <li><a href="index.html">首页</a></li>
            <li><a href="acoount.html">个人中心</a></li>
            <li><a href="collect.html">收藏夹</a></li>
            <li><a href="about.html">关于我们</a></li>
        </ul>
    </div>
</header>
<div class="wap">
    <div class="container">
        <div class="form-panel round">
            <div class="base-panel">
                <div class="form-head">
                    <h2>
                        注册<poplayer></poplayer>

                    </h2>
                    <span class="triangle"></span>
                </div>
                <form class="form-horizontal" name="registerForm" ng-controller="registerFormCtrl" novalidate ng-init="user.type='personal';user.gender=1">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">类&#12288;&#12288;型</label>

                        <div class="col-xs-9 radio">
                            <label>
                                <input type="radio" name="type" value="personal" ng-model="user.type" ng-checked="true" required>求职者
                            </label>
                            &#12288;
                            <label>
                                <input type="radio" name="type" value="company"  ng-model="user.type">企业
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">邮&#12288;&#12288;箱</label>

                        <div class="col-xs-6">
                            <input type="email" class="form-control" name="email" ng-model="user.email" required>
                            <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                <span ng-show="registerForm.email.$error.required">邮箱是必须的。</span>
                                <span ng-show="registerForm.email.$error.email">非法的邮箱地址。</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">性&#12288;&#12288;别</label>

                        <div class="col-xs-9 radio">
                            <label>
                                <input type="radio" name="gender" value="1" ng-model="user.gender" ng-checked="true" required>男
                            </label>
                            &#12288;&#12288;&#12288;
                            <label>
                                <input type="radio" name="gender" value="2" ng-model="user.gender">女
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-controller="datetime">
                        <label class="col-xs-3 control-label">出生日期</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" name="birthday" ng-model="user.birthday"  uib-datepicker-popup is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                   style="width: 85%;float: left" ng-pattern="/^[0-3][0-9]{3}-[0-3][0-9]-[0-3][0-9]$/" required>
                              <span class="input-group-btn"  style="width: 20%">
                                  <button type="button" class="btn btn-default" ng-click="open2()">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                  </button>
                              </span>
                             <span style="color:red" ng-show="registerForm.birthday.$dirty && registerForm.birthday.$invalid">
                                <span ng-show="registerForm.birthday.$error.required">出生年月日是必须的。</span>
                                <span ng-show="registerForm.birthday.$error.date">出生日期格式不对</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">密&#12288;&#12288;码</label>

                        <div class="col-xs-6">
                            <input type="password" class="form-control" name="password" ng-model="user.password" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/" required>
                            <span style="color:red" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                                <span ng-show="registerForm.password.$error.required">密码是必须的。</span>
                                 <span ng-show="registerForm.password.$error.pattern">密码长度必须是6-16字符！</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">确认密码</label>

                        <div class="col-xs-6">
                            <input type="password" class="form-control" name="password1" ng-model="password1" ng-pattern="/^[\@A-Za-z0-9\!\#\$\%\^\&\*\.\~]{6,16}$/" required ng-blur="passwordConfirm()">
                            <span style="color:red" ng-show="registerForm.password1.$dirty && registerForm.password1.$invalid">
                                <span ng-show="registerForm.password1.$error.required">确认密码密码必须填！</span>
                                 <span ng-show="registerForm.password1.$error.pattern">确认密码长度必须是6-16字符！</span>
                            </span>
                            <span style="color:red" ng-show="password1Confirm">与密码不一致！</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <button class="btn btn-danger submit" ng-click="submit()"  >提交</button>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>
<div ng-include="'footer.html'"></div>
<script src="./static/js/base.js"></script>
<script>
    rootApp.controller('datetime',function ($scope) {
 ;
        $scope.clear = function() {
            $scope = null;
        };

        $scope.inlineOptions = {
            customClass: getDayClass,
            minDate: new Date(),
            showWeeks: true
        };

        $scope.dateOptions = {
            dateDisabled: disabled,
            formatYear: 'yyyy',
            maxDate: new Date(),
            startingDay: 1
        };

        // Disable weekend selection
        function disabled(data) {
            var date = data.date,
                    mode = data.mode;
            return false;
        }

        $scope.toggleMin = function() {
            $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
            $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
        };

        $scope.toggleMin();

        $scope.open2 = function() {
            $scope.popup2.opened = true;
        };

        $scope.setDate = function(year, month, day) {
            $scope.dt = new Date(year, month, day);
        };

        $scope.format = 'dd-MMMM-yyyy';


        $scope.popup2 = {
            opened: false
        };

        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        var afterTomorrow = new Date();
        afterTomorrow.setDate(tomorrow.getDate() + 1);
        $scope.events = [
            {
                date: tomorrow,
                status: 'full'
            },
            {
                date: afterTomorrow,
                status: 'partially'
            }
        ];

        function getDayClass(data) {
            var date = data.date,
                    mode = data.mode;
            if (mode === 'day') {
                var dayToCheck = new Date(date).setHours(0,0,0,0);

                for (var i = 0; i < $scope.events.length; i++) {
                    var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);

                    if (dayToCheck === currentDay) {
                        return $scope.events[i].status;
                    }
                }
            }

            return '';
        }
    });

    rootApp.controller('registerFormCtrl',function($scope,$http){
        $scope.password1Confirm=false;
       // $scope.birthdayRegex = '\[0-9]';
        $scope.passwordConfirm = function(){
            if($scope.password1 != undefined && $scope.user.password != $scope.password1){
                $scope.password1Confirm=true;
            }else{
                $scope.password1Confirm=false;
            }
        }
        //提交表单
        $scope.submit=function(isValid){
            if($scope.user.type != undefined && $scope.user.type=="personal"){
                formData.key="UserRegister";
            }else if($scope.user.type != undefined && $scope.user.type=="company"){
                formData.key="EnterpriseRegister";
            }else{

            }
            formData.body=$scope.user;
            formData.body.birthday =  $scope.registerForm.birthday.$viewValue;
            formData.body.password=hex_md5(formData.body.password);
//            $http({
//                method: 'POST',
//                url: url,
//                params: formData
//            }).success(function(data,header,config,status){
//                alert(data);
//            });
        }
    })
</script>
</body>
</html>